
:root{
    --rojo: #7b2415;
    --rosa: #FFD5F6;
    --blanco: #FFF;
    --negro: #030000;
}

section {
    width: 85%;
    margin: 0 auto;
}

ion-button {
    --background: var(--negro);
}

button {
    background-color: #7b2415;
    border-color:#7b2415;
    border: none;
}

body {
    background-color: var(--blanco);
}

h1 {
    width: 90%;
    margin: 20px auto;
}

h2 {
    font-weight: 700;
}

h1, h2 {
    text-align: center;
    color: var(--blanco);
    background-color: var(--rojo);
}

